### ðŸ“œ Sobre o Conjunto de Dados

O **Conjunto de Dados de TendÃªncias de Compras** oferece uma visÃ£o abrangente sobre os comportamentos dos consumidores no setor de varejo.

Abrangendo diversos elementos transacionais, demogrÃ¡ficos e comportamentais, este conjunto de dados Ã© uma fonte valiosa para compreender as preferÃªncias de compras dos clientes e aplicar estratÃ©gias de varejo baseadas em dados.

#### **Colunas do Conjunto de Dados**
* Customer ID = NÃºmero de identificaÃ§Ã£o exclusivo que identifica o cliente.
* Age = Idade do cliente.
* Gender = GÃªnero do cliente (feminino, masculino, etc.).
* Item Purchased = Nome do produto comprado pelo cliente.
* Category = Categoria Ã  qual o produto pertence (ex.: vestuÃ¡rio, eletrÃ´nicos).
* Purchase Amount (USD) = Valor total da compra do cliente (em dÃ³lares americanos).
* Location = RegiÃ£o geogrÃ¡fica ou cidade onde o cliente estÃ¡ localizado.
* Size = Tamanho do produto comprado (ex.: P, M, G, GG).
* Color = Cor do produto comprado.
* Season = EstaÃ§Ã£o em que a compra foi realizada (ex.: verÃ£o, inverno).
* Review Rating = ClassificaÃ§Ã£o dada pelo cliente ao produto (geralmente de 1 a 5).
* Subscription Status = Status de assinatura do cliente.
* Payment Method = MÃ©todo usado pelo cliente para o pagamento (ex.: cartÃ£o de crÃ©dito, PayPal).
* Shipping Type = MÃ©todo de envio do produto (ex.: envio padrÃ£o, envio expresso).
* Discount Applied = Taxa de desconto aplicada durante a compra.
* Promo Code Used = CÃ³digo promocional usado pelo cliente durante a compra.
* Previous Purchases = Lista de compras anteriores do cliente.
* Preferred Payment Method = MÃ©todo de pagamento preferido pelo cliente.
* Frequency of Purchases = FrequÃªncia com que o cliente realiza compras (ex.: uma vez por semana, uma vez por mÃªs).

## ðŸ“š Importando Bibliotecas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## ðŸ’¾ Carregando o Conjunto de Dados

In [3]:
df = pd.read_csv('../data/shopping_trends.csv')

## ðŸ“Š Explorando Conjunto de dados

In [4]:
# Visualizando primeiros registros
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

In [5]:
# VisualizaÃ§Ã£o rÃ¡pida e resumida do dataframe 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3900 non-null   int64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3900 non-null   int64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3900 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 579.0+ KB

In [6]:
# Verificando se hÃ¡ ausÃªncia de valores
df.isnull().sum()

Customer ID                 0
Age                         0
Gender                      0
Item Purchased              0
Category                    0
Purchase Amount (USD)       0
Location                    0
Size                        0
Color                       0
Season                      0
Review Rating               0
Subscription Status         0
Payment Method              0
Shipping Type               0
Discount Applied            0
Promo Code Used             0
Previous Purchases          0
Preferred Payment Method    0
Frequency of Purchases      0
dtype: int64